<p>
    <div class="comments">
   Autor: <b><%= comment.user.name %></b><br/>

     <p class="commentc"><%= comment.body %></p>


     <% if(current_user && current_user.id == comment.user.id) %>
        <p>
        <%= link_to "Delete", [@fortune, comment], confirm: "Are you sure?", :method => :delete %>
        </p>
     <% end %>
     </div>
 </p>